    /* Set background color, text and some padding */
    footer {
      background-color: #4b5b83;
      color: white;
      padding: 15px;
    }
    #greeting {
      background-color: #4b5b83;
      padding: 15px;
    }
    #greetingText {
    position:relative;
    left:40px;
    display: block;
    }
    h1 {
    font-family: "Ubuntu Condensed", Times, serif;
    font-size: 60px;
    text-indent:20pt;
    color: white;
    }
    /* On small screens, set height to 'auto' for grid */
    @media screen and (max-width: 767px) {
      .row.content {height:auto;} 
    }
    body {
      background-color: #a2a3e2;
    }
    #image a {
      border: 1px solid black;
      background-color: #D2D4E2;
      box-shadow: 0 0 10px;
      border-radius: 5px;
      height: 280px;
    }
    #image p {
      text-align: justify;
      padding: 0px 15px 0px 15px;
    }

    