<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MimicFlicker</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../static/css/v3_3_5.css" th:href="@{static/css/v3_3_5.css}"
          media="screen"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mainForm.css"
          th:href="@{static/css/mainForm.css}" media="screen"/>
    <script src="../static/js/jquery1_11_3.js" th:src="@{static/js/jquery1_11_3.js}"></script>
    <script src="../static/js/Bootstrapv3_3_5.js" th:src="@{static/js/Bootstrapv3_3_5.js}"></script>
<script  th:inline="javascript">
    var imgFolder =[[${image_view}]];
    var url =[[${image_url}]];
</script>
</head>
<body>
<div id="greeting" class="container-fluid ">
  <div id="greetingText">
    <h1>MimicFlickr service</h1>
  </div>  
</div> 
<p>&nbsp;</p>
<div class="container-fluid text-center">
    <div class="row content">
        <div id="imgGallery">
            <div id="1" class="col-sm-3 " >
                <h1>Loading..</h1>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <p>&copy; SamoilenkoM, Inc.</p>
</footer>
<script src="../static/js/common.js" th:src="@{static/js/common.js}"></script>
</body>
</html>